{% extends 'base.html.twig' %}

{% block body %}
    <div id="success-add" class="d-none bg-info text-white p-3">
        <p>Produit ajouté avec succès</p>
    </div>
    <div class="container product-page mt-5">
        <h2>Liste des produits</h2>

        <div class="d-flex flex-wrap justify-content-center align-items-center">
            {% for product in products %}
                <article class="card m-3">
                    <div class="card-corpse">
                        <img src="{{ app.request.getBaseURL }}/logo_noimg.png" class="img-fluid no-product" alt="{{ product.sku }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text card-description">{{ product.description|raw }}</p>
                            <p class="card-text card-price text-end fw-bold">{{ product.priceHT|number_format(2, '.', ',') }} € HT</p>
                        </div>
                    </div>
                    <div class="footer-card">
                        <p class="sku"><small>{{ product.sku }}</small></p>
                        <div class="actions-buttons">
                            <div class="button-groups">
                                <button class="quantity" data-controller="quantity" data-type="minus">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <label>
                                    <input type="text" value="1" />
                                </label>
                                <button class="quantity" data-controller="quantity" data-type="add">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <button class="addToCart" data-controller="addCart" data-id="{{ product.id }}" data-link="{{ path('product_add') }}"><i class="fa-solid fa-cart-plus"></i></button>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}